.mte-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.mte-tools {
    width: 100%;
    background-color: #ccc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10px;
}
.mte-tool-line {
    display: flex;
    align-items: center;
    margin: 5px 0 5px 0;
    padding: 5px 0;
}
.mte-tool-group {
    display: flex;
    align-items: center;
    margin: 0 2.5px;
    padding-right: 5px;
}
.mte-tool-selector {
    position: relative;
    display: flex;
    align-items: center;
    padding-right: 5px;
}
.mte-tool-selector-trigger {
    display: flex;
    align-items: center;
}
.mte-tool-selector-options {
    position: absolute;
    width: 300px !important;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #f1f1f1;
    display: none;
    flex-direction: column;
    padding: 5px 0;
}
.mte-show {
    display: flex !important;
}
.mte-hide {
    display: none !important;
}
.mte-code {
    font-family: monospace;
}
.mte-tool-selector-option {
    padding: 5px 10px;
    text-align: left;
    cursor: pointer;
}
.mte-content {
    width: 100%;
    height: 100%;
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    border: #333 1px solid;
}
.mte-content ol, .mte-content ul {
    padding-left: 20px;
}
.mte-content ol {
    list-style-type: decimal;
}
.mte-content ul {
    list-style-type: disc;
}
.mte-tool {
    cursor: pointer;
    padding: 3px 5px;
    margin-right: 5px;
}