
<header class="w-100 bg-dark sticky-top py-4">
    <div class="container w-100 d-flex align-items-center justify-content-between">
        <a href="https://masamo.tech" class="text-light text-decoration-none">
            <h1 class="h4 text-uppercase">Masamo</h1>
        </a>
        <nav class="d-flext">
            <a href="<%= baseUrl %>/" class="text-light text-decoration-none me-3">Home</a>
            <a href="<%= baseUrl %>/about" class="text-light text-decoration-none">About</a>
        </nav>
    </div>
</header>